<h2 class="text-xl font-semibold mb-2">Add Temple</h2>
<form action="/api/temple" method="POST" class="space-y-4">
  <!-- <div>
    <label for="name" class="block text-sm font-medium text-gray-700"
      >Temple Id:</label
    >
    <input
      type="text"
      id="id"
      name="id"
      class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
    />
  </div> -->
  <div>
    <label for="name" class="block text-sm font-medium text-gray-700"
      >Name:</label
    >
    <input
      type="text"
      id="name"
      name="name"
      class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
      required
    />
  </div>
  <div>
    <label for="image" class="block text-sm font-medium text-gray-700"
      >Image:</label
    >
    <input
      type="text"
      id="image"
      name="image"
      class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
      required
    />
  </div>
  <div>
    <label for="description" class="block text-sm font-medium text-gray-700"
      >description:</label
    >
    <textarea
      type="textarea"
      id="description"
      name="description"
      class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
      required
    ></textarea>
  </div>
  <div class="card border p-4 mb-4">
    <div>
      <label for="address" class="block text-sm font-medium text-gray-700"
        >Address:</label
      >
      <input
        type="text"
        id="addressSearch"
        name="address"
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
        required
      />
      <ul id="addressSuggestions" class="border rounded mt-2 bg-white"></ul>
    </div>

    <div>
      <label for="lat_lon" class="block text-sm font-medium text-gray-700"
        >Latitude:</label
      >
      <input
        type="text"
        id="lat"
        name="place[lat]"
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
        required
      />
      <label for="lat_lon" class="block text-sm font-medium text-gray-700"
        >Longitute:</label
      >
      <input
        type="text"
        id="lon"
        name="place[lon]"
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
        required
      />
    </div>
  </div>

  <div class="card border p-4 mb-4">
    <label for="crowdPattern" class="block text-sm font-medium text-gray-700"
      >Crowd Pattern:</label
    >
    <div>
      8 AM:
      <select name="crowds[8AM]" class="select border p-2 mr-2">
        <option value="High">High</option>
        <option value="Medium">Medium</option>
        <option value="Low">Low</option>
      </select>
      12 PM:
      <select name="crowds[12PM]" class="select border p-2 mr-2">
        <option value="High">High</option>
        <option value="Medium">Medium</option>
        <option value="Low">Low</option>
      </select>

      3 PM:
      <select name="crowds[5PM]" class="select border p-2 mr-2">
        <option value="High">High</option>
        <option value="Medium">Medium</option>
        <option value="Low">Low</option>
      </select>

      5 PM:
      <select name="crowds[8PM]" class="select border p-2 mr-2">
        <option value="High">High</option>
        <option value="Medium">Medium</option>
        <option value="Low">Low</option>
      </select>
    </div>

    <div>
      Busy Days:
      <div>
        <label class="mr-2"
          ><input type="checkbox" name="busyDay[monday]" /> Monday</label
        >
        <label class="mr-2"
          ><input type="checkbox" name="busyDay[tuesday]" /> Tuesday</label
        >
        <label class="mr-2"
          ><input type="checkbox" name="busyDay[wednesday]" /> Wednesday</label
        >
        <label class="mr-2"
          ><input type="checkbox" name="busyDay[thursday]" /> Thursday</label
        >
        <label class="mr-2"
          ><input type="checkbox" name="busyDay[friday]" /> Friday</label
        >
        <label class="mr-2"
          ><input type="checkbox" name="busyDay[saturday]" /> Saturday</label
        >
        <label class="mr-2"
          ><input type="checkbox" name="busyDay[sunday]" /> Sunday</label
        >
      </div>
    </div>
  </div>

  <div class="card border p-4 mb-4">
    <div class="upcomingEventContainer" id="event-container">
      <label
        for="upcomingEvents"
        class="block text-sm font-medium text-gray-700"
      >
        Upcoming Events:
      </label>
      <button
        type="button"
        id="add-event-button"
        class="add-eventbutton bg-blue-500 text-white px-2 py-1 rounded"
      >
        Add Event
      </button>
      <div>
        Date:
        <input
          type="datetime-local"
          name="upcomingEvents[dateTime][]"
          class="input border p-2 mr-2"
          value=""
        />
        Event Details:
        <input
          type="text"
          name="upcomingEvents[details][]"
          class="input border p-2 mr-2"
          value=""
        />
        Event Location:
        <input
          type="text"
          name="upcomingEvents[location][]"
          class="input border p-2 mr-2"
          value=""
        />
        <button
          type="button"
          class="delete-event-button bg-red-500 text-white px-2 py-1 rounded"
        >
          Delete Event
        </button>
      </div>
    </div>
  </div>

  <div class="card border p-4 mb-4">
    <label for="darshanDetails" class="block text-sm font-medium text-gray-700">
      Darshan Details:</label
    >
    <label for="Timing" class="block text-sm font-medium text-gray-700">
      Timing:</label
    >
    <div>
      <textarea
        name="darshan[timings][]"
        class="input border p-2 mr-2"
      ></textarea>
    </div>

    <label for="Charges" class="block text-sm font-medium text-gray-700">
      Darshan Charges:</label
    >

    <div id="darshanChargesContainer">
      <button
        type="button"
        id="add-darshan-button"
        class="add-darshanbutton bg-blue-500 text-white px-2 py-1 rounded"
      >
        Add Type
      </button>
      <div>
        Type:
        <input
          type="text"
          name="darshan[type][typeName][]"
          class="input border p-2 mr-2"
        />
        Amount:
        <input
          type="text"
          name="darshan[type][amount][]"
          class="input border p-2 mr-2"
        />
        Timing:
        <input
          type="text"
          name="darshan[type][timing][]"
          class="input border p-2 mr-2"
        />
        <button
          type="button"
          id="delete-darshan-button"
          class="delete-darshan-button bg-red-500 text-white px-2 py-1 rounded"
        >
          Delete Type
        </button>
      </div>
    </div>
  </div>

  <div class="card border p-4 mb-4" id="historyContainer">
    <label for="history" class="block text-sm font-medium text-gray-700">
      History:
    </label>
    Opened On:
    <input type="date" name="history[openedOn]" class="input border p-2 mr-2" />
    builder:
    <input type="text" name="history[builder]" class="input border p-2 mr-2" />
    description:
    <textarea
      name="history[description]"
      class="input border p-2 mr-2"
    ></textarea>
    backgroundImage:
    <input
      type="text"
      name="history[backgroundImage]"
      class="input border p-2 mr-2"
    />
  </div>

  <div class="card border p-4 mb-4" id="godContainer">
    <label for="Gods" class="block text-xl font-medium text-gray-700">
      God and Goddess:
    </label>
    <button
      type="button"
      class="add-gods-button bg-blue-500 text-white px-2 py-1 rounded"
      id="add-gods-button"
    >
      Add New
    </button>
    <div class="relative mb-4">
      <input
        type="text"
        id="suggestion-input"
        name="godIds[]"
        class="suggestion-input input border p-2 mr-2"
        autocomplete="off"
      />
      <div
        id="suggestion-box"
        class="absolute bg-white border border-gray-300 w-full mt-1"
      ></div>
      <button
        type="button"
        class="delete-gods-button bg-red-500 text-white px-2 py-1 rounded"
      >
        Delete
      </button>
    </div>
  </div>

  <div class="card border p-4 mb-4" id="informationContainer">
    <label for="information" class="block text-xl font-medium text-gray-700">
      information
    </label>
    <div>
      openingHours:
      <input
        type="text"
        name="information[openingHours]"
        class="input border p-2 mr-2"
      />
    </div>
    <div>
      Parking:
      <input
        type="text"
        name="information[parking]"
        class="input border p-2 mr-2"
      />
    </div>
    <div>
      Mobile Info:
      <input
        type="text"
        name="information[mobile]"
        class="input border p-2 mr-2"
      />
    </div>
    <div>
      Website:
      <input
        type="text"
        name="information[website]"
        class="input border p-2 mr-2"
      />
    </div>
    <div>
      dos:
      <input
        type="text"
        name="information[dos]"
        class="input border p-2 mr-2"
      />
    </div>
    <div>
      don't:
      <input
        type="text"
        name="information[dont]"
        class="input border p-2 mr-2"
      />
    </div>
    <div>
      facilities:
      <textarea
        name="information[facilities]"
        class="input border p-2 mr-2"
      ></textarea>
    </div>
  </div>

  <button
    type="submit"
    class="w-full bg-indigo-600 text-white py-2 px-4 rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
  >
    Submit
  </button>
</form>
