<h2 class="text-xl font-semibold mb-2">Add Calendar Banner</h2>

<form action="/api/calendar_banner" method="POST" class="space-y-4">
      <div id="itemContainer" class="space-y-4">
        <% content.data.forEach(item => { %>
          <div class="flex items-center space-x-2">
          <div>
            <label for="title" class="block text-sm font-medium text-gray-700"
              >Title:</label
            >
            <input
              type="text"
              id="title"
              name="title"
              value="<%= item.title %>"
              class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
              required
            />
          </div>
          <div>
            <label for="imgUrl" class="block text-sm font-medium text-gray-700"
              >Image Link:</label
            >
            <input
              type="text"
              id="imgUrl"
              name="imgUrl"
              value="<%= item.imgUrl %>"
              class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
              required
            />
          </div>
          <div>
            <label for="body" class="block text-sm font-medium text-gray-700"
              >Body:</label
            >
            <input
              type="text"
              id="body"
              name="body"
              value="<%= item.body %>"
              class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
              required
            />
          </div>
          </div>
        <% }); %>
      </div>
      <button
        type="submit"
        class="w-full bg-indigo-600 text-white py-2 px-4 rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
      >
        Submit
      </button>
  </form>
</form>
