<h2 class="text-xl font-semibold mb-2">Add Temple</h2>
<form action="/api/temple" method="POST" class="space-y-4">
    <div>
      <label for="name" class="block text-sm font-medium text-gray-700"
        >Name:</label
      >
      <input
        type="text"
        id="name"
        name="name"
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
        required
      />
    </div>
    <div>
      <label for="image" class="block text-sm font-medium text-gray-700"
        >Image:</label
      >
      <input
        type="text"
        id="image"
        name="image"

        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
        required
      />
    </div>
    <div>
      <label for="description" class="block text-sm font-medium text-gray-700"
        >description:</label
      >
      <textarea
        type="textarea"
        id="description"
        name="description"
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
        required
      ></textarea>
    </div>
    <div>
        <label for="address" class="block text-sm font-medium text-gray-700"
          >Address:</label>
          <input
        type="text"
        id="address"
        name="address"
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
        required
      />
        </div>
        <div class="card border p-4 mb-4">            
            <label for="crowdPattern" class="block text-sm font-medium text-gray-700"
            >Crowd Pattern:</label>
            <div>    
            8 AM:
            <select name="cards[][option]" class="select border p-2 mr-2">
                <option value="High">High</option>
                <option value="Medium">Medium</option>
                <option value="Low">Low</option>
            </select>
            12 PM:
            <select name="cards[][option]" class="select border p-2 mr-2">
                <option value="High">High</option>
                <option value="Medium">Medium</option>
                <option value="Low">Low</option>
            </select>

            3 PM:
            <select name="cards[][option]" class="select border p-2 mr-2">
                <option value="High">High</option>
                <option value="Medium">Medium</option>
                <option value="Low">Low</option>
            </select>
      
            5 PM:
            <select name="cards[][option]" class="select border p-2 mr-2">
                <option value="High">High</option>
                <option value="Medium">Medium</option>
                <option value="Low">Low</option>
            </select>
            </div>
        </div>
    <button
      type="submit"
      class="w-full bg-indigo-600 text-white py-2 px-4 rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
    >
      Submit
    </button>
  </form>
</form>
